@tailwind base;
@tailwind components;
@tailwind utilities;

.h2 {
  @apply text-xl font-medium text-primary-700 sm:text-4xl;
}

.h3 {
  @apply text-base font-semibold text-primary-700 sm:text-xl;
}

.container {
  @apply mx-auto max-w-[1140px];
}

.btn {
  @apply max-w-max rounded-full border-2 px-6 py-3 text-center text-sm font-bold transition duration-300 hover:shadow-lg;
}

.btn-primary {
  @apply border-primary-500 bg-primary-500 text-white hover:border-primary-700 hover:bg-primary-700;
}

.btn-primary-outline {
  @apply border-primary-500 bg-transparent text-primary-500 hover:border-primary-500 hover:bg-primary-500 hover:text-white;
}

.btn-secondary {
  @apply border-secondary-500 bg-secondary-500 text-white hover:border-secondary-700 hover:bg-secondary-700;
}

.btn-secondary-outline {
  @apply border-secondary-500 bg-transparent text-secondary-500 hover:border-secondary-500 hover:bg-secondary-500 hover:text-white;
}

.bg-image-1 {
  @apply bg-[url(/home-step-cta-bg.webp)] bg-cover bg-center bg-no-repeat;
}

.background-1 {
  background: url(/background-1.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.background-2 {
  background: url(/background-2.svg);
  background-position: 50% 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

.background-3 {
  background: url(/Group1.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
