@tailwind base;
@tailwind components;
@tailwind utilities;

.h2 {
  @apply text-xl font-medium text-primary-700 sm:text-4xl;
}

.h3 {
  @apply text-base font-semibold text-primary-700 sm:text-xl;
}

.container {
  @apply mx-auto max-w-[1140px];
}

.btn {
  @apply max-w-max rounded-full border-2 px-4 py-2 text-sm font-semibold leading-none text-white transition transition-colors duration-300 ease-linear hover:shadow-lg;
}

.btn-primary-outline {
  @apply border-primary-400 text-primary-400 hover:bg-primary-400 hover:text-white;
}

.btn-accent {
  @apply border-red-500 bg-red-500 text-white transition-colors hover:border-red-600 hover:bg-red-600;
}

.btn-white-outline {
  @apply border-white text-white hover:bg-white hover:text-primary-400;
}

.bg-image-1 {
  @apply bg-[url(/home-step-cta-bg.webp)] bg-cover bg-center bg-no-repeat;
}

.background-1 {
  background: url(/background-1.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.background-2 {
  background: url(/background-2.svg);
  background-position: 50% 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

.background-3 {
  background: url(/Group1.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
